.drop-label {
    -fx-text-fill: #a0a0a0;
    -fx-graphic-text-gap: 15;
    -fx-content-display: top;
}

.drop-label .text {
    -fx-font-smoothing-type: gray;
}

.drop-label SVGPath {
    -fx-fill: #a0a0a0;
}